<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>828822766357-dhhkb80icfi55lkkjtbe3ss34b47qahj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.828822766357-dhhkb80icfi55lkkjtbe3ss34b47qahj</string>
	<key>API_KEY</key>
	<string>AIzaSyAt8T5mNpwQH24573W9tEw1JThU_PdYdaA</string>
	<key>GCM_SENDER_ID</key>
	<string>828822766357</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.usocial</string>
	<key>PROJECT_ID</key>
	<string>usocial-insta</string>
	<key>STORAGE_BUCKET</key>
	<string>usocial-insta.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:828822766357:ios:c6d81427f62c72c47b9f1c</string>
</dict>
</plist>